body{
    direction: rtl;
}

#myHeader{
    background-image: url(../img/header3.webp);
    /* background-color: #1E90FF; */
    height: 100px;
    margin-top: 0;
}
#image{
    margin-right: 10px;
}

img {
    width: 12%;
    height:10%;
}

#texts{
    color: white;
}

.content{
    text-align: right;
}

.person img{
    width: 30%;
    height:30%;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* .person{
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

/* .message h1{
    padding-right: 30%;
} */

/* @media only screen and (max-width: 1200px) {

    #texts{
        text-align: right;
        margin-top: 1%;
        padding-top: 1%;
    }   
} */

@media only screen and (max-width: 750px) {
    img{
        padding-top: 2.5%;
        float: right;
        width: 12%;
        height:12%;
    }
    #texts{
        text-align: right;
        margin-top: .50%;
        padding-top: .50%;
        margin-right: 15%;
    }   
}

@media only screen and (max-width: 500px) {

    img{
        padding-top: 2%;
        float: right;
        width: 15%;
        height:15%;
    }
    #texts{
        text-align: right;
        margin-top: .25%;
        padding-top: .25%;
        margin-right: 20%;
    }   
}